on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

name: "CLA Assistant"

permissions:
  actions: write
  contents: read
  pull-requests: write
  statuses: write
  
jobs:
  cla-acknowledgement:
    runs-on: ubuntu-latest
    name: "Check that the CLA has been acknowledged"
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the Contributor License Agreement and I hereby accept the Terms.') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_BOT_ACCESS_TOKEN }}
        with:
          remote-organization-name: qir-alliance
          remote-repository-name: data_storage
          branch: 'main'
          path-to-signatures: 'signatures/${{ github.event.repository.name }}/cla.json'
          custom-allsigned-prcomment: 'All Contributors have signed the CLA.'
          custom-pr-sign-comment: 'I have read the Contributor License Agreement and I hereby accept the Terms.'
          allowlist: user1,bot*
          # edit the path below (if needed) to point to the document containing the CLA that a contributor agrees to
          path-to-document: 'https://github.com/qir-alliance/qir-spec/blob/main/Contributor_License_Agreement.md'
