on:
  pull_request:
    branches:
    - main

name: "Check spelling, linting and links"

jobs:
  check-markdown:
    runs-on: ubuntu-latest
    name: "Check Markdown files"
    steps:
    - uses: actions/checkout@master
    - run: |
        Get-ChildItem (Join-Path ".github" "utils" "problem-matchers") `
          | ForEach-Object {
            Write-Host "Adding matcher $_...";
            Write-Host "::add-matcher::$_";
          }
      shell: pwsh
    - name: markdownlint-cli
      # cspell:words nosborn
      uses: nosborn/github-action-markdown-cli@v2.0.0
      with:
        files: .
        config_file: '.github/utils/md_lint_config.yaml'
    - name: Markdown link check
      # cspell:words gaurav
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: 'yes'
      if: ${{ success() || failure() }}

  check-spelling:
    runs-on: ubuntu-latest
    name: "Check spelling in changed files"
    steps:
      - uses: actions/checkout@v2
      # cspell:words streetsidesoftware
      - uses: streetsidesoftware/cspell-action@v1.2.4
        with:
          inline: warning
          # Only warn on spelling errors, since there's likely a lot of false
          # positives with terminology in quantum computing.
          strict: false
          incremental_files_only: true
          config: '.github/utils/spelling_allowlist.json'
